@font-face {
	font-family: 'Crackhouse';
	src: url('fonts/crackhouse.ttf') format('truetype');
}

body {
	background-color: #aabbcc;
	/*font-family: "Times New Roman", serif;*/
	font-family: Cambria, serif;
	margin: 0;
}

h1 {
  font: normal 64px 'Crackhouse';
}

/* Header Styles */

header {
	background-color: black;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 50px 0;
	text-align: center;
}

header h1 {
	margin: 0;
}

header img {
	width: 300px;
}

header p {
	margin: 0;
}

/* Navigation Styles */

nav {
	background-color: #445566;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}

nav a {
	color: #aabbcc;
	text-decoration: none;
}

nav a:hover {
	opacity: .5;
}

/* Main Styles */

main {
	margin: 0 auto;
	max-width: 800px;
}

main img {
	width: 100%;
}

/* Footer Styles */

footer {
	background-color: black;
	color: white;
  padding: 50px;
	text-align: center;
}

footer p{
  margin: 0;
}

footer a{
  color: white;
}

p.caption {
	color: grey;
	font-style: italic;
	margin: 5px 0 0;
}

div.album {
	margin: 0 10px;
	width: 250px;
}

div.polaroid {
	background-color: white;
	border: 10px solid white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	margin: 20px 0;
}

div.polaroid img {
	border-radius: 3px;
}

div.left-side {
	float: left;
	margin: 0 20px 0 0;
	width: 250px;
}

div.right-side {
	float: right;
	margin: 0 0 0 20px;
	width: 250px;
}

div.photo {
	border-width: 6px;
	margin: 10px auto;
	width: 200px;
}

ol.track-list {
	font-weight: bold;
	margin: 20px 0;
	width: 60%;
}

ol a {
	color: rgba(0, 0, 0, 0.75);
	font-weight: normal;
	text-decoration: none;
}

ol a:hover {
	color: rgba(0, 0, 0, 0.5);
}

span.grid {
	display: flex;
	flex-flow: row wrap;
}
